body{
    margin: 0;
    padding: 0;
    
}

.container{
    width: 960px;
    margin: auto;

}

header{
    background-color: black;
    color: #ffffff;
}

#logo{
    width: 250px;
}

#logo img{
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
}

header section, header nav{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#direita{
    flex-grow: 1;
}

#direita section{
    letter-spacing: 5px;
    font-size: 14pt;
    font-style: italic;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav a{
    text-decoration: nome;
    color: #ffffff;
    text-transform: uppercase;
    padding: #000;
}

header nav a :hover{
    background-color: #ffff00;
    color: #000;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
}

header nav a:hover{
    background-color: #ffff00;
    color #000;
}


footer{
    background-color: black;
    color:#ffffff;
    text-align: center;
    padding:  20px;
}

footer nav{
    display: flex;
    justify-content: space-between;
}

footer nav a{
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

footer nav a:hover{
    color: #ffff00;
    text-decoration: underline overline;
}

main{
    width: 960px;
    margin: auto;
    min-height: 727px;
}

msin h1{
    text-align: center;
}

.texto_banner{
    font-size: 25pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#assistir{
    text-decoration: none;
    display: block;
    font-size: 18pt;
    width: 300px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    line-height: 50px;
    box-shadow: 5px 5px 5px #000;
}

.destaque{
    background-color: rgb(29, 110, 143);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px #000;
    display: flex;
    flex-wrap: wrap;
}

.destaque h3{
    width: 100%;
    text-align: center;
    font-size: 26pt;
    color: rgb(0, 209, 146);
    text-shadow: 5px 5px 5px black;

}

.destaque figure img{
    width: 150px;
}

#assinar{
    text-decoration: none;
    display: block;
    font-size: 20pt;
    width: 400px;
    height: 70px;
    background-color: rgb(236, 209, 56);
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    line-height: 70px;
    box-shadow: 5px 5px 5px #000;
}

#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galeria img{
    width: 250px;
    margin: 10px;
}

#contato{
    display: flex;
    justify-content: space-between;

}

input, textarea{
    display: block;
    background-color: rgb(231, 206, 206);
    border-radius: 20px;
    width: 500px;
    padding: 10px;
    margin: 20px;
    border: none;
    box-shadow: 0 0 5px #000;
}

#contato button{
    font-size: 18pt;
    width: 100%;
    height: 50px;
    background-color:rgb(29, 110, 143);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    box-shadow: 0 0 5px #000;
}

.programacao{
    display: flex;
    flex-wrap: wrap;
}

.programacao h3{
    width: 100%;
}

.programacao img{
    width: 150px;
}

.programacao article{
    width: 50%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

